# TODO:  install torch with CUDA support (also possibly uninstall torch with CPU support)
diffusers[torch]
opencv-contrib-python
scipy
fastapi[all]
python-multipart
transformers
controlnet_aux
realesrgan
git+https://github.com/huggingface/accelerate.git
