@import "../../styles/globals.scss";

.txt2Img {
    .createButtons {
        text-align: right;
        margin-bottom: $paddingDefault;
        button.redoButton {
            border-radius: 0;
            border-right: solid 1px #ffffff;
        }
        button.createButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        button.cancelButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 72px;
        }
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}