@import "../../styles/globals.scss";

.txt2Img {
    .createButtons {
        text-align: right;
        margin-bottom: $paddingDefault;
        button:nth-child(2) {
            border-radius: 0;
            border-right: solid 1px #ffffff;
        }
        button:nth-child(3) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .imgCell {
        width: 1024px;
        height: 1024px;
    }
    h1 {
        button {
            float: right;
        }
    }
    .content {
        text-align: center;
        vertical-align: middle;
        .imgContainer {
            display: inline-block;
            width: auto;
            border: solid 1px;
            padding: $paddingDefault;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
}